<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Imagen en el medio del contenido -->
  <img src="assets/images/logo.png" class="logo-image" alt="Logo">

  <div class="button-grid">
    <ion-router-link routerLink="/login" class="button-card">
      <ion-icon name="log-in" class="button-icon"></ion-icon>
      <p class="button-label">Inicio de Sesión</p>
    </ion-router-link>
    <ion-router-link routerLink="/calendar" class="button-card">
      <ion-icon name="calendar" class="button-icon"></ion-icon>
      <p class="button-label">Calendario</p>
    </ion-router-link>
    <ion-router-link routerLink="/tasks" class="button-card">
      <ion-icon name="list" class="button-icon"></ion-icon>
      <p class="button-label">Gestor de Tareas</p>
    </ion-router-link>
    <ion-router-link routerLink="/habits" class="button-card">
      <ion-icon name="repeat" class="button-icon"></ion-icon>
      <p class="button-label">Rastreador de Hábitos</p>
    </ion-router-link>
    <ion-router-link routerLink="/productivity" class="button-card">
      <ion-icon name="analytics" class="button-icon"></ion-icon>
      <p class="button-label">Resúmenes</p>
    </ion-router-link>
    <ion-router-link routerLink="/recommendations" class="button-card">
      <ion-icon name="book" class="button-icon"></ion-icon>
      <p class="button-label">Recomendaciones</p>
    </ion-router-link>
    <ion-router-link routerLink="/routine" class="button-card">
      <ion-icon name="create" class="button-icon"></ion-icon>
      <p class="button-label">Crea tu Rutina</p>
    </ion-router-link>
  </div>
</ion-content>
